<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeStars Dialog Demos - Partial</title>
    <link rel="stylesheet" href="../demos.css"/>
    <link rel="stylesheet" href="../../dist/cs-dialog.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>
    <script type="text/javascript" src="../../dist/cs-dialog.min.js"></script>
</head>
<body>

<article class="leader-inside">

    <section>

        <div class="trailer">
            <a href="../index.html">&lt; Back</a>
        </div>

        <header class="trailer">
            <h3>Example 3 - Loading dialog with content from a URL</h3>
        </header>

        <button data-cs-dialog="partial" data-title="Demo Dialog" data-url="demo-content-partial.html">
            Open Demo Dialog from URL
        </button>

        <script>
            (function() {
                new CsDialog();
            })();
        </script>
    </section>

</article>

</body>
</html>