.cs-dialog {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  height: auto;
  margin: 0 12px;

  &__title {
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    font-size: 19px;
  }

  &__inner {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
  }

  &__spinner {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: -25px;
  }

  &__nav {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-top: -25px;
    color: #fff;
    text-decoration: none;
    font-size: 50px;

    &--next {
      text-align: right;
      right: 1rem;
    }

    &--previous {
      text-align: left;
      left: 1rem;
    }
  }

  &__header {
    height: rhythm(2);
    line-height: rhythm(2);
    background-color: #fff;
  }

  &__body {
    position: relative;
    background-color: #fff;
    line-height: normal;
    min-height: 200px;

    img {
      display: block;
    }

    .cs-dialog--padding & {
      padding: 24px;
    }
  }

  &__img {
    width: 100%;
  }

  &__footer {
    text-align: center;
    background-color: #fff;
    height: rhythm(2);
    line-height: rhythm(2);
    font-size: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__close-btn {
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    color: #000;
    line-height: 40px;
  }

  &.hide {
    display: block;
    opacity: 0;
  }

  &__container-master {
    display: inline-block;
    width: 77.77778%;
    vertical-align: top;
  }

  &__container-slave {
    display: inline-block;
    width: 22.22222%;
    vertical-align: top;
  }

  &__spinner {
    circle {
      fill: none;
      stroke: slategray;
      stroke-width: 16;
      stroke-linecap: round;
      stroke-dasharray: 0, 0, 70, 194;
      stroke-dashoffset: 0;
      animation: spin 1s infinite linear;
      -webkit-animation: spin 1s infinite linear;
    }
  }

  @-webkit-keyframes spin {
    to {
      stroke-dashoffset: -264;
    }
  }

  @keyframes spin {
    to {
      stroke-dashoffset: -264;
    }
  }
}

@include breakpoint($gt-medium) {

  .cs-dialog {
    padding-left: 0;
    padding-right: 0;
    width: 75%;
    margin: 0 auto;
    max-width: 900px;
  }

}