.cs-dialog-cloak {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  cursor: pointer;

  &--main-menu {
    display: block;
  }

  &.hide {
    display: none;
  }
}

@include breakpoint($gt-medium) {

  .cs-dialog-cloak {
    &--main-menu {
      display: none;
    }
  }
}
